:root {
--color-primary: #219F94;
--color-secondary:#4ae4d7;
--color-accent:#F2F5C8;
--color-secondary-light: #E8E8A6;
--color-text: #29222277;
--color-main-background: #d8fcf9;
--color-white:#ffffff;
--color-gray-shadow:rgb(0 83 75);
}