.App {
  background-color: var(--color-main-background);
}
.active {
  color: var(--color-white) !important;
  font-weight: bold;
 border-bottom: 3px solid var(--color-white);
}
.episodes {
  padding: 80px;
  margin-top: 60px;
  .container {
    padding-top: 0;
  }
}
.container {
  padding-top: 80px;
}
.navbar {
  position: fixed;
  background:var(--color-primary) !important;
  width: 100%;
  top: 0;
  z-index: 20;
  box-shadow: 0 0 15px 1px #556f6d;
  .container {
    padding-top: 0;
  }
}